body {
    background: rgb(19, 24, 70);
}
h1{
    margin: 0;
    padding: 0%;
    text-align: center;
    color: rgb(239, 240, 204);
}
.side-by-side-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
}
p {
    margin: 3;
    padding: 2;
    font-style: black;
    font-size: 18px;
    font-weight: bold;

}
a:link {
  color: rgb(243, 245, 205); /* Changes all links color */
}
a:hover {
  color: rgb(255, 113, 47);
}
