body {
    background: rgb(29, 33, 70);
}
h1{
    margin: 13;
    padding: 0%;
    text-align: center;
    color: rgb(239, 240, 204);
}
.side-by-side-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
}
p {
    margin: 3;
    padding: 2;
    color: rgb(239,240,204);
    font-size: 18px;
    font-weight: bold;

}