body {
    background: rgb(19, 24, 70);
}
h1{
    margin: 13;
    padding: 0%;
    text-align: center;
    color: rgb(239, 240, 204);
}
.side-by-side-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
}
p {
    margin: 3;
    padding: 2;
    font-size: 18px;
    font-weight: bold;

}
.post-container{
    margin: 20px 20px 0 0;  
    border:5px solid #333;
}

.post-thumb img {
    float: left;
    clear:left;
}

.post-content {
    float:right;
}

a:link {
  color: rgb(243, 245, 205); /* Changes all links color */
}
a:hover {
  color: rgb(255, 113, 47);
}
a:visited {
  color: green;
}
a:active {
  color: lightpink;
}
